.about-company {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 570px;
  padding-top: 10px;
}

.about-company__title {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;

  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 1px;
}

.about-company__text {
  margin: 0;
  margin-bottom: 22px;
  padding: 0;

  letter-spacing: 0.3px;
}
