.company-info {
  width: 165px;

  font-family: "MyriadPro", sans-serif;
}

.company-info__name {
  letter-spacing: -0.4px;
  font-size: 30px;
  line-height: 30px;
  color: $main-text-color;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}

.company-info__slogan {
  margin: 0;
  padding: 0;

  line-height: 22px;
}
