.main-nav__list {
  display: flex;
  justify-content: flex-start;

  @include for-list;
  flex-wrap: wrap;
}

.main-nav__item {
  &:nth-child(1) {
    flex-grow: 1;

    text-align: right;
  }
  &:last-child {
    flex-grow: 1;

    text-align: left;
  }
}

.main-nav__link {
  position: relative;

  display: block;
  padding-top: 21px;
  padding-right: 23px;
  padding-bottom: 29px;
  padding-left: 23px;

  font-size: 30px;
  line-height: 30px;
  color: $link-text-color;

  background-color: $main-background-color-reverse;
  cursor: pointer;
  &:hover::before,
  &:focus::before {
    content: "";
    position: absolute;
    right: 23px;
    bottom: 29px;
    left: 23px;

    height: 1px;

    background-color: $main-background-color;
  }
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    right: -1px;
    z-index: 1;

    width: 2px;
    height: 25px;

    background-color: $main-background-color;
  }

  &--first-point {
    &:hover::before,
    &:focus::before {
      left: 41px;
    }
  }
  &--last-point {
    &:hover::before,
    &:focus::before {
      right: 41px;
    }
    &::after {
      display: none;
    }
  }
  &:active {
    background-color: #8d8d8d;
  }
}
