.news {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 350px;
  padding-top: 12px;
  padding-right: 53px;
  padding-bottom: 97px;
  padding-left: 34px;

  color: $main-text-color-reverse;
  letter-spacing: 1px;

  background-color: $main-background-color-reverse;
}

.news__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-weight: bold;
  font-size: 40px;
  line-height: 46px;
}

.news__list {
  @include for-list;
}

.news__item {
  margin-bottom: 22px;
  padding: 0;

  letter-spacing: 0.32px;
}

.news__date {
  font-style: italic;
}

.news__preview {
  margin: 0;
  padding: 0;
}

.news__button {
  position: relative;

  margin-top: 6px;
  margin-right: 0;
  margin-left: auto;

  text-align: right;
  color: $button-text-color;
  letter-spacing: 0.4px;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 3px;
    left: 0;

    height: 1px;

    background-color: #bbbbbb;
  }
  &:hover::after,
  &:focus::after {
    background-color: $main-background-color;
  }
  &:active {
    opacity: 0.5;
  }
}
