.page-header {
  color: $main-text-color;

  background-color: #dcdcdc;
}

.page-header__info-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-top: 65px;
  padding-bottom: 65px;
}

.page-header__logo {
  margin-right: 13px;
}

.page-header__company-info {
  padding-top: 5px;
}

.page-header__contacts {
  margin-left: auto;
}

.page-header__navigation-wrapper {
  background-color: $main-text-color;
}
