.page-main__slider-wrapper {
  color: $main-text-color;

  background-color: #f8f8f8;
}

.page-main__index-columns {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-bottom: 415px;
}
