html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  position: relative;

  min-width: 1400px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  font-family: "PT Sans", sans-serif;
  color: $main-text-color;
  font-style: normal;

  background-color: $main-background-color;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

a {
  text-decoration: none;
}

img {
  display: block;
}
