$main-text-color: #767676;
$main-background-color: #ffffff;

$main-text-color-reverse: #ffffff;
$main-background-color-reverse: #767676;

$button-text-color: #ffffff;
$button-background-color: #6f6f6f;
$link-text-color: #ffffff;
